@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');


header {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .25px;
}

.success-msg {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
}

.success-msg {
    color: #270;
    background-color: #DFF2BF;
}


/* Just for CodePen styling - don't include if you copy paste */
html {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

body {
    width: 200px;
    /* height: 270px; */
}

#donate {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}